body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color: #fff;
	width: 960px;
	margin: auto;
}

h2 {
	background-color: #5599DD;
	background: -moz-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	background: -webkit-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	background: -o-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	background: -ms-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	border-radius: 15px;
	border: 1px solid black;
	color: #DDD;
	padding: 5px;
}

nav ul {
	list-style: none;
	padding-left: 0;
}

nav ul li{
	display: inline;
	margin-right: 3px;
	background: #C7BE9B;
	padding: 5px;
}

nav ul li:hover {
	background-color: #9C8F67;
}

nav ul li a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: none;
}

#menu {
	float: left;
	width: 200px;
}

#foto-perfil {
	float: right;
	width: 760px;
}

#cabecalho {
	text-align: center;
}

#conteudo {
	float: right;
	width: 960px;
	background-color: #F5F0DC;
	margin-left: auto;
	margin-right: auto;
}

#email {
	text-decoration: underline;
	font-style: italic;
}

#foto-cv{
	top: 0;
	right: 0;
	position: fixed;
	width: 120px;
	height: 160px;
	background-color: white;
	padding: 15px;
	font-family: 'Comic Sans MS', cursive;
	border: 1px solid black;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7);
}

#foto-cv:hover {
	-moz-transform:rotate(-5deg);
	-webkit-transform:rotate(-5deg);
	-o-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
}

#tab-contato {
	border: 1px solid black;
	width: 50%;
	margin:auto;
}

#tab-contato th {
	text-align: center;
	background-color: #F8EA6B;
}

#tab-contato tr:nth-child (odd) {
	background-color: #fff;
}

#tab-contato tr:nth-child(even) {
	background-color: #F8EAB3;
}

.txt_exp {
	text-indent: 50px;
}